
.myheader {
    background-color: rgb(39, 24, 82);
    color: whitesmoke;
    padding: 10px;
    text-align: center;
}

.menu {
    background-color: rgb(39, 24, 82);
    overflow: hidden;
    
}

.menu a {
    float: right;
    color: whitesmoke;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 20px;
}

.menu a:hover {
    background-color: rgb(70, 90, 118);
    color: white;
}

.menu a.active {
    background-color: rgb(53, 40, 90);
    color: white;
}

.heading{
    color: whitesmoke;
}

.paragraph {
    color: whitesmoke;
    justify-content: center;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: #4285f4;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.button-link:hover {
    background-color: #3278e8;
}

