/* Styling for the header */
.myheader {
    background-color: rgb(39, 24, 82);
    color: whitesmoke;
    padding: 10px;
    text-align: center;
}

/* Styling for the navigation bar */
.menu {
    background-color: rgb(39, 24, 82);
    overflow: hidden;
}

/* Styling for navigation bar links */
.menu a {
    float: right;
    color: whitesmoke;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 20px;
}

/* Hover effect on navigation bar links */
.menu a:hover {
    background-color: rgb(70, 90, 118);
    color: white;
}

/* Styling for the active navigation bar link */
.menu a.active {
    background-color: rgb(53, 40, 90);
    color: white;
}

/* Styling for headings */
.heading {
    color: whitesmoke;
}

/* Styling for paragraphs */
.paragraph {
    color: whitesmoke;
    justify-content: center;
}

/* Styling for links styled as buttons */
.button-link {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: #4285f4;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Hover effect on links styled as buttons */
.button-link:hover {
    background-color: #3278e8;
}
