/* Styling for the header */
.myheader {
    background-color: #2E0F15;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(238, 232, 232);
    padding: 20px;
    text-align: center;
    overflow: hidden;
}

/* Styling for copyright text */
.copyrightext {
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #2E0F15;
    padding: 12px;
    text-align: center;
}

/* Styling for images */
img {
    border-radius: 12px;
    border-color: #2E0F15;
    filter: sepia(50%) saturate(100%);
}
